/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Media Queries */


/* Smaller than standard 960 (devices and browsers) */
   @media only screen and (max-width: 959px) {
   }


/* Tablet Portrait size to standard 960 (devices and browsers) */
   @media only screen and (min-width: 768px) and (max-width: 959px) {

/* layout */
#intro-title {
font-size: 120px;
line-height: 120px;
}

#intro-subtitle {
margin: -100px auto 0 auto;
}

h1 {
font-size: 45px;
padding: 35px 0 0 0;
}

h2 {
font-size: 25px;
}

.lower-content {
padding: 55px 0 0 0;
}

/* menu */
.menu {
display: none;
visibility: hidden;
}

/* menu mobile */
.menu-mobile {
position: relative;
font-family: 'Oswald', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 400;
text-transform: uppercase;
-webkit-font-smoothing: antialiased;
width: auto;
top: 23px;
right: 30px;
display: inherit;
visibility: visible;
z-index: 1000;
}

/* social icons */
.social-icons-wrapper {
position: fixed;
width: 175px;
top: 28px;
left: 28px;
}

/* closer */
.fire-closer {
left: 30px;
top: 30px;
}

   }


/* All Mobile Sizes (devices and browser) */
   @media only screen and (max-width: 767px) {
   }


/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
   @media only screen and (min-width: 480px) and (max-width: 767px) {

/* layout */
#intro-wrapper {
position: relative;
top: 112px;
}

#intro-top-line {
display: none;
visibility: hidden;
}

#intro-top {
font-size: 25px;
line-height: 25px;
text-align: center;
margin: 0;
padding: 0;
}

#intro-bottom-line {
display: none;
visibility: hidden;
}

/* teaser */
#teaser {
text-align: center;
margin: -22px 0 0 0;
}

#intro-title {
font-size: 65px;
line-height: 65px;
}

#intro-subtitle {
display: none;
visibility: hidden;
}

h1 {
font-size: 45px;
padding: 35px 0 0 0;
}

h2 {
font-size: 25px;
}

.lower-content {
padding: 75px 0 0 0;
}

/* borders */
.borders {
display: none;
visibility: hidden;
}

/* countdown */
#countdown-wrapper {
position: relative;
left: -20px;
margin: 168px auto 0 auto;
width: 260px;
}

#countdown li {
display: inline-block;
width: 100px;
}

/* menu */
.menu {
display: none;
visibility: hidden;
}

/* menu mobile */
.menu-mobile {
position: relative;
font-family: 'Oswald', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 400;
text-transform: uppercase;
-webkit-font-smoothing: antialiased;
width: auto;
top: 8px;
right: 15px;
display: inherit;
visibility: visible;
z-index: 1000;
}

/* newsletter form */
#subscribe-form {
position: relative;
bottom: 40px;
right: 0;
margin: 71px auto 0 auto;
bottom: 46px;
padding: 0;
}

/* social icons */
.social-icons-wrapper {
position: absolute;
width: 175px;
top: 13px;
left: 13px;
}

/* closer */
.fire-closer {
left: 30px;
top: 15px;
}

/* dividers */
.divider-left-top {
display: none;
visibility: hidden;
}

.divider-right-top {
display: none;
visibility: hidden;
}

.divider-left-bottom {
display: none;
visibility: hidden;
}

.divider-right-bottom {
display: none;
visibility: hidden;
}

   }


/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
   @media only screen and (max-width: 479px) {

/* layout */
#intro-wrapper {
position: relative;
top: 112px;
}

#intro-top-line {
display: none;
visibility: hidden;
}

#intro-top {
font-size: 25px;
line-height: 25px;
text-align: center;
margin: 0;
padding: 0;
}

#intro-bottom-line {
display: none;
visibility: hidden;
}

/* teaser */
#teaser {
text-align: center;
margin: -22px 0 0 0;
}

#intro-title {
font-size: 65px;
line-height: 65px;
}

#intro-subtitle {
display: none;
visibility: hidden;
}

h1 {
font-size: 45px;
padding: 35px 0 0 0;
}

h2 {
font-size: 25px;
}

.lower-content {
padding: 75px 0 0 0;
}

/* borders */
.borders {
display: none;
visibility: hidden;
}

/* countdown */
#countdown-wrapper {
position: relative;
left: -20px;
margin: 168px auto 0 auto;
width: 260px;
}

#countdown li {
display: inline-block;
width: 100px;
}

/* menu */
.menu {
display: none;
visibility: hidden;
}

/* menu mobile */
.menu-mobile {
position: relative;
font-family: 'Oswald', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 400;
text-transform: uppercase;
-webkit-font-smoothing: antialiased;
width: auto;
top: 8px;
right: 15px;
display: inherit;
visibility: visible;
z-index: 1000;
}

/* newsletter form */
#subscribe-form {
position: relative;
bottom: 40px;
right: 0;
margin: 71px auto 0 auto;
bottom: 46px;
padding: 0;
}

/* social icons */
.social-icons-wrapper {
position: absolute;
width: 230px;
top: 13px;
left: 13px;
}

/* closer */
.fire-closer {
left: 30px;
top: 15px;
}

/* dividers */
.divider-left-top {
display: none;
visibility: hidden;
}

.divider-right-top {
display: none;
visibility: hidden;
}

.divider-left-bottom {
display: none;
visibility: hidden;
}

.divider-right-bottom {
display: none;
visibility: hidden;
}

   }