@charset "utf-8";
/* CSS Document */


#customizer {
	position: fixed;
	top: 35%;
	z-index: 999999;
	display: none;
}

.corner {
	display: block;
	cursor: pointer;
	width: 50px;
	height: 50px;
	background: #fff url(../styleswitch/corner.png);
	position: absolute;
	top: 50px;
	left: -50px;
}

.s-close {
	right: -205px !important;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.s-open {
	right: 0 !important;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.corner.expanded {
	background: #fff url(../styleswitch/corner.png);
}

#options {
	width: 205px;
	height: 305px;
	background: #fff;
	padding: 0;
	position: relative;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.options-head {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    background: #bb141a;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	line-height: 50px;
}

.heading {
	padding-bottom: 15px;
	margin-bottom: 20px;
}

#options h6 {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
	color: #000;
	margin-bottom: 10px;
}

.options-segment {
	margin-bottom: 20px;
}

.customize-button {
	display: inline-block;
	margin: 0;
	font-size: 12px;
	color: #5c5c5c !important;
	background: #f7f7f7;
	border: 1px solid #e9e9e9;
	padding: 3px 7px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.color-head {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
	color: #000;
	line-height: 40px;
	background-position: 92.5% 50%;
	margin-bottom: 15px !important;
}

.fonts-head {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #525252;
	line-height: 23px;
	margin-bottom: 15px !important;
}

.customize-button:hover {
	background: #fff;
}

.customize-button:first-of-type {
	margin-right: 5px;
}

.color-scheme {
	padding: 0;
}

.color-scheme li {
	float: left;
	list-style: none;
}

.color-scheme a {
	display: block;
	height: 30px;
	width: 30px;
	margin: 0 4.25px 10px;
}

.fonts-sel {
	padding: 20px 25px;
	margin-bottom: 0;
}

.colors-sel {
	padding: 20px 25px 15px;
	margin-bottom: 0;
}

.headers-sel {
	padding: 15px;
	margin-bottom: 0;
}

.red a {
	background: #ead22d;
}

.red-2 a {
	background: #ffc200;
}

.green a {
	background: #00cc66;
}

.green-2 a {
	background: #009966;
}

.blue a {
	background: #00bfff;
}

.blue-2 a {
	background: #0099ff;
}

.yellow a {
	background: #ead22d;
}

.yellow-2 a {
	background: #ffc200;
}

.orange a {
	background: #ff6900;
}

.gold a {
	background: #996600;
}

.pink a {
    background: #ff3e91;
}

.purple a {
	background: #9b59b6;
}

.violet a {
	background: #7369b9;
}

.turquoise a {
	background: #34c5ba;
}

.brick a {
	background: #ff9966;
}

.silver a {
	background: #555;
}


/* custom style */
.ourList div {
	width: 50%;

}
.ourList {
	display: flex;
	flex-wrap: wrap;
	width: 50%;
    margin: 0 auto;
}
.ourList div p {
	text-align: center;

}
#intro-wrapper {
	max-width: 300px;
    margin: 0 auto;
    background: white;
    border-radius: 50%;
    max-height: 300px;
    height: 300px;
}
#intro-wrapper img {
	max-width: 300px;
}

.sectionOne {
	display: flex;
	background: white;
	padding: 80px 50px 80px 50px;
	flex-direction: column;
}
.sectionOne .wrapperVideo {
	display: flex;
	align-items: center;
	justify-content: center;
}
.sectionOne .titleName {
	font-size: 26px;
	color: black;
	text-align: center;
	font-weight: bold;
	margin-bottom: 30px;
}
.sectionOne .description {
	font-size: 18px;
	color: black;
	margin-bottom: 20px;
	width: 40%;
	background: rgba(0,0,0,0.1);
    padding: 15px;
	border-radius: 15px;
	margin-left: 20px;

}
.sectionTwo {
	background: #efe290;
	padding: 80px 50px 80px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sectionTwo .leftBlock {
	margin-right: 30px;
	width: 25%;
}
.sectionTwo .leftBlock  .say {
	margin-top: 20px;
	font-size: 18px;
	font-style: italic;
}
.sectionTwo .rightInfo {
	width: 60%;
	background: rgba(0,0,0,0.1);
	padding: 15px;
	border-radius: 15px;
}

.sectionTwo .rightInfo .titleText {
	font-size: 22px;
	padding-bottom: 20px;
}
.sectionTwo .rightInfo .text {
	font-size: 18px;
	text-align: initial;
	padding-bottom: 15px;
}
.sectionTwo .rightInfo .underText {
	font-size: 22px;
	color: black;
	margin-top: 20px;
}
.sectionThree {
	display: flex;
	background: white;
	padding: 80px 50px 80px 50px;
	align-items: center;
	flex-direction: column;
}
.sectionThree .underText {
	font-size: 22px;
	color: darkolivegreen;
	width: 100%;
	text-align: left;
	margin-bottom: 30px;
}
.sectionThree .top,.bot {
	display: flex;
	margin-bottom: 20px;
	align-items: center;
	
}
.sectionThree .bot .leftBlock {
	margin-right: 0;
	margin-left: 30px;
	
}
.sectionThree .leftBlock {
	margin-right: 30px;
	width: 35%;
}
.sectionThree .leftBlock img {
	max-width: 100%;
}
.sectionThree .rightBlock {
	width: 60%;
	background: rgba(0,0,0,0.1);
	padding: 15px;
	border-radius: 15px;
}
.sectionThree .rightBlock .titleText {
	font-size: 22px;
	color: black;
}
.sectionThree .rightBlock .text {
	font-size: 18px;
	color: black;
	text-align: initial;
}
.sectionThree .bot .rightBlock .titleText {
	text-align: initial;
	font-style: italic;
}
.sectionThree .bot .rightBlock span {
	font-size: 20px;
	text-align: right;
	display: flex;
	justify-content: flex-end;
	color: darkcyan;
}
.sectionThree .onlyText {
	background: rgba(0,0,0,0.1);
    padding: 15px;
    border-radius: 15px;
}
.sectionThree .onlyText p {
	font-size: 18px;
	text-align: initial;
	color: black;
}
.sectionThree .onlyText .underText {
	font-size: 22px;
	color: black;
	padding-top: 25px;
	text-align: center;

}
.sectionFour {
	display: flex;
	background: #efe290;
	padding: 80px 50px 80px 50px;
	align-items: center;
	flex-direction: column;
}
.sectionFour .underText {
	font-size: 22px;
	color: darkolivegreen;
	width: 100%;
	padding-bottom: 25px;
	text-align: left;

}
.sectionFour .titleText {
	font-size: 26px;
	color: white;
	padding-bottom: 25px;
	font-weight: bold;
}
.sectionFour .allText {
	background: rgba(0,0,0,0.1);
    padding: 15px;
    border-radius: 15px;
}
.sectionFour .allText p {
	text-align: initial;
	padding-bottom: 15px;
	font-size: 18px;
}
.sectionFour .allText .firstBigtext {
	font-size: 20px;
}
.sectionFour .allText .secondTitle {
	font-size: 24px;
	padding-bottom: 30px;
	padding-top: 30px;
}
.sectionFour .allText .bold {
	font-weight: bold;
}
.sectionFour .allText .thirdTitle {
	font-weight: bold;
	font-size: 22px;
	padding-top: 25px;
	padding-bottom: 25px;
}
.sectionFive {
	display: flex;
	background: white;
	padding: 80px 50px 80px 50px;
	align-items: center;
	flex-direction: column;
}
.sectionFive .underText {
	font-size: 22px;
    color: darkolivegreen;
    width: 100%;
    padding-bottom: 25px;
    text-align: left;
}
.sectionFive .titleText {
	font-size: 26px;
	color: black;
    padding-bottom: 25px;
    font-weight: bold;
}
.sectionFive .name {
	font-size: 20px;
	color: black;
    padding-bottom: 25px;
	width: 100%;
	text-align: left;
}
.sectionFive .wrapperImg {
	width: 100%;
}
.sectionFive .wrapperImg img {
	max-width: 100%;
}
.sectionSix {
	display: flex;
	background: #efe290;
	padding: 80px 50px 80px 50px;
	align-items: center;
	flex-direction: column;
}
.sectionSix .underText {
	font-size: 22px;
    color: darkolivegreen;
    width: 100%;
    padding-bottom: 25px;
    text-align: left;
}
.sectionSix .closestTeam {
	display: flex;
	background: rgba(0,0,0,0.1);
    padding: 15px;
	border-radius: 15px;
	width: 60%;
	justify-content: center;
	margin-bottom: 15px;
	max-width: 700px;
}
.sectionSix .closestTeam .infoUs {
	display: flex;
	flex-direction: column;
	margin-right: 30px;
	justify-content: space-around;
	width: 65%;
}
.sectionSix .closestTeam .photoUs img {
	max-width: 100%;
	max-width: 111px;
	max-height: 131px;
}
.sectionSix .closestTeam .infoUs span {
	display: flex;
	justify-content: space-between;
}
.sectionSix .closestTeam .infoUs span:first-child p {
	color: brown;
}
.sectionSix .closestTeam .infoUs span:first-child a {
	color: brown;
}
.sectionSix .closestTeam .infoUs span p {
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	text-align: left;
}
.sectionSix .closestTeam .infoUs span p:first-child {
	width: 50%;

}
.sectionSix .closestTeam .infoUs span  a {
	font-weight: bold;
	font-size: 16px;

}
.sectionSeven {
	display: flex;
	background: white;
	padding: 80px 50px 80px 50px;
	align-items: center;
	flex-direction: column;
}
.sectionSeven .underText {
	font-size: 22px;
    color: darkolivegreen;
    width: 100%;
    padding-bottom: 25px;
    text-align: left;
}
.sectionSeven .titleText {
	font-size: 26px;
	color: black;
    padding-bottom: 25px;
    font-weight: bold;
}
.sectionSeven  p {
	text-align: initial;
	padding-bottom: 15px;
	font-size: 18px;
	color: black;
}
.sectionSeven .wrapperGalery {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.sectionSeven .wrapperGalery .imgGallery {
	width: 23%;
	margin-bottom: 20px;
}
.sectionSeven .wrapperGalery .imgGallery img {
	max-width: 100%;
}
.sectionEight {
	display: flex;
	background: #efe290;
	padding: 80px 50px 80px 50px;
	align-items: center;
	flex-direction: column;
}
.sectionEight .titleText {
	font-size: 26px;
	color: black;
    padding-bottom: 25px;
    font-weight: bold;
}
.sectionEight .allText p {
	text-align: initial;
	padding-bottom: 15px;
	font-size: 18px;
	color: black;
}
.sectionEight .allText {
	background: rgba(0,0,0,0.1);
    padding: 15px;
    border-radius: 15px;
}
.sectionEight .say {
	font-size: 22px;
	font-weight: bold;
	text-align: left;
	width: 100%;
	color: black;
}
.sectionNine {
	display: flex;
	background: white;
	padding: 80px 50px 80px 50px;
	align-items: center;
	flex-direction: column;
}
.sectionNine .titleText {
	font-size: 26px;
	color: black;
    padding-bottom: 25px;
    font-weight: bold;
}
.contactImg img {
	width: 100%;
}
.sectionNine .email {
	width: 100%;
    display: flex;
	justify-content: flex-start;
	margin-bottom: 15px;
}
.sectionNine .email p {
	font-size: 18px;
	font-weight: bold;
	color: black;
}
.sectionNine .email a {
	font-size: 18px;
	font-weight: bold;
	color: firebrick;
}
.upper-content .mainText {
	margin-top: 20px;
	font-size: 22px;
	white-space: nowrap;
}
@media screen and (max-width:1025px) {
	.sectionOne {
		padding: 30px 20px 30px 20px;
	}
	.sectionOne .wrapperVideo {
		flex-direction: column;
	}
	.sectionOne .wrapperVideo iframe {
		max-width: 100%;
	}
	
	.sectionOne .description {
		margin-left: 0;
		width: 90%;
		margin-top: 25px;
	}
	.sectionTwo {
		padding: 30px 20px 30px 20px;
		flex-direction: column;
	}
	.sectionTwo .leftBlock {
		margin-right: 0;
		width: 90%;
	}
	.sectionTwo .rightInfo {
		width: 90%;
		margin-top: 20px;
	}
	.sectionThree {
		padding: 30px 20px 30px 20px;
	}
	.sectionThree .top, .bot {
		flex-direction: column;
	}
	.sectionThree .leftBlock {
		margin-right: 0px;
    	width: 90%;
	}
	.sectionThree .rightBlock {
		width: 90%;
		margin-top: 25px;
	}
	.sectionThree .bot .leftBlock {
		margin-left: 0;
		margin-top: 25px;
	}
	.sectionFour {
		padding: 30px 20px 30px 20px;
	}
	.sectionFive {
		padding: 30px 20px 30px 20px;
	}
	.sectionSix {
		padding: 30px 20px 30px 20px;
	}
	.sectionSix .closestTeam {
		width: 90%;
		flex-direction: column;
		align-items: center;
	}
	.sectionSix .closestTeam .infoUs {
		width: 100%;
		margin-bottom: 20px;
		margin-right: 0;
	}
	.sectionSix .closestTeam .infoUs span {
		justify-content: center;
		flex-direction: column;
	}
	.sectionSix .closestTeam .infoUs span p {
		text-align: center;
	}
	.sectionSix .closestTeam .infoUs span p:first-child {
		width: 100%;
	}
	.sectionSeven {
		padding: 30px 20px 30px 20px;
	}
	.sectionSeven .wrapperGalery .imgGallery {
		width: 48%;
	}
	.sectionEight {
		padding: 30px 20px 30px 20px;
	}
	.sectionNine {
		padding: 30px 20px 30px 20px;
	}
	.sectionNine .email {
		flex-direction: column;
	}
	.sectionNine .email p {
		font-size: 16px;
	}
	.sectionNine .email a {
		font-size: 16px;
	}
}
@media screen and (max-width: 480px) {
	#intro-wrapper {
		max-width: 300px;
		margin: 0 auto;
		background: white;
		border-radius: 50%;
		max-height: 300px;
		height: 300px;
	}
	#intro-wrapper img {
		max-width: 300px;
	}
	.ourList {
		width: 100%;
	}
	.upper-content .mainText {
		margin-top: 20px;
	}
	#countdown-wrapper {
		margin-top: 195px !important;
	}
}